@model IS_CS.Models.Preke

@{
    ViewBag.Title = "preke_Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prekės naikinimas</h2>

<h3>Ar tikrai norite ištrinti šį įraša?</h3>
<div>
    <h4>Prekė</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <a>Bar kodas</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bar_kodas)
        </dd>

        <dt>
            <a>Modelis</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelis)
        </dd>

        <dt>
            <a>Pavadinimas</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pavadinimas)
        </dd>

        <dt>
            <a>Pardavimo kaina, EUR</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pardavimo_kaina)
        </dd>

        <dt>
            <a>Kiekio tipas</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kiekio_tipas)
        </dd>

        <dt>
            <a>Atsakingas darbuotojas</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fk_Darbuotojaspaskyros_id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Taip" class="btn btn-default" /> |
            @Html.ActionLink("Grižti", "preke_List")
        </div>
    }
</div>
