@model IEnumerable<IS_CS.Models.Preke>

@{
    ViewBag.Title = "Prekių sąrašas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/a-controls.css")
<h2>Prekių sąrašas</h2>

<p>
    @Html.ActionLink("Sukurti naują", "preke_Create", null, new { @class = "controls" })
</p>
<table class="table" id="formos">
    <tr>
        <th>
            <a>Bar kodas</a>
        </th>
        <th>
            <a>Modelis</a>
        </th>
        <th>
            <a>Pavadinimas</a>
        </th>
        <th>
            <a>Pardavimo kaina, EUR</a>
        </th>
        <th>
            <a>Kiekio tipas</a>
        </th>
        <th>
            <a>Atsakingas darbuotojas</a>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bar_kodas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modelis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pavadinimas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pardavimo_kaina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fk_Darbuotojaspaskyros_id)
            </td>
            <td>
                @Html.ActionLink("Redaguoti", "preke_Edit", new { id = item.bar_kodas }) |
                @Html.ActionLink("Peržiūra", "preke_Detail", new { id = item.bar_kodas }) |
                @Html.ActionLink("Naikinti", "preke_Delete", new { id = item.bar_kodas })
            </td>
        </tr>
    }

</table>
