@model IS_CS.Models.Remontuojamas_irenginys
@{
    ViewBag.Title = "irenginys_Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>irenginys_Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">


    <h4>Irenginys</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.irenginio_id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.irenginio_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.irenginio_id, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.pavadinimas, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.pavadinimas, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.pavadinimas, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.modelis, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.modelis, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.modelis, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.pridavimo_data, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.pridavimo_data, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.pridavimo_data, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.atsiëmimo_data, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.atsiëmimo_data, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.atsiëmimo_data, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.garantijos_pabaigos_data, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.garantijos_pabaigos_data, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.garantijos_pabaigos_data, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <a>Įrenginio būsena</a>
        <div class="col-md-10">
            @Html.DropDownList("Busena", Model.busenos, "Pasirinkite tipą")
            @Html.ValidationMessageFor(model => model.busena, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.planuojamas_darbu_pabaigos_data, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.planuojamas_darbu_pabaigos_data, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.planuojamas_darbu_pabaigos_data, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fk_Klientaspaskyros_id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fk_Klientaspaskyros_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fk_Klientaspaskyros_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fk_Saskaitaserija, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fk_Saskaitaserija, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fk_Saskaitaserija, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fk_Darbuotojaspaskyros_id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fk_Darbuotojaspaskyros_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fk_Darbuotojaspaskyros_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Edit" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "irenginys_list")
</div>